version: '3.8'

services:
  customer_bot_vlad_test:
    container_name: customer_bot_vlad_test
    ports:
      - "7406:86"
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - TZ=Europe/Moscow
      - LANGCHAIN_TRACING_V2=true
      - LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
      - LANGCHAIN_PROJECT=customer_bot_vlad_test
    volumes:
      - ./data:/app/data
    command: ["/bin/sh", "-c", "if [ ! -f /app/data/keys.json ]; then echo '{\"LANGCHAIN_API_KEY\": \"\", \"OPENAI_API_KEY\": \"\", \"ANTHROPIC_API_KEY\": \"\", \"1ะก_TOKEN\": \"\"}' > /app/data/keys.json; fi && exec gunicorn 'bot:app' --workers 1 --worker-class 'uvicorn.workers.UvicornWorker' --bind '0.0.0.0:86' --timeout 1800"]